
h1{
    text-align: center;
    margin-top: 2%;
    font-family: cursive;
    font-weight: bolder;
    color: rgb(80, 78, 78);
    text-shadow: 2rem;
}

.events{
    margin-left: 10%;
    margin-top: 5rem;
    margin-right: 10%;
}

#textcolor{
    color: white;
}